body{
    background: black;
}

.gamecolumn{
    color: white;
    text-align: center;
}

.head{
    background-image:url(img/gKSftj.jpg);
    height: 450px;
    width: auto;
    color: white;
    
    
}

.exp{
    text-align: left;
    color: #dc3545;
    font-size: 18px;
    margin: 5%;
}

.exp2{
    text-align: center;
    color:lightsteelblue;
    font-size: 17px;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
}

.bee{
    background-image:url(img/gKSftj.jpg);
    height: fill;
    width: fill;
    color: white;
    
    
    
}

.eq{
    color: #dc3545;
}

.essential{
padding-top: 20px;
}

.qexplain{
    color: #20c997;
    padding: 5%;
}

.title{
    padding-top: 5%;
}

.about{
    background-image:url(img/ps4waves2.jpg);
    height: fill;
    width: fill;
    color: white;
}






