body{
    background: black;
}

.gamecolumn{
    color: white;
    text-align: center;
}

.head{
    background-image:url(img/gKSftj.jpg);
    height: 450px;
    width: auto;
    color: white;
    
    
}

.exp{
    text-align: left;
    color: #dc3545;
    font-size: 20px;
}