body{
    background: black;
}

.gamecolumn{
    color: white;
    text-align: center;
}

.head{
    background-image:url(img/gKSftj.jpg);
    height: 450px;
    width: auto;
    color: white;
    
    
}

.exp{
    text-align: left;
    color: #dc3545;
    font-size: 15px;
}

.exp2{
    text-align: center;
    color:lightsteelblue;
    font-size: 15px;
}

.bee{
    background-image:url(img/gKSftj.jpg);
    height: fill;
    width: fill;
    color: white;
    
    
    
}

.eq{
    color: #dc3545;
}

.essential{
padding-top: 20px;
}





